axion_functions/__pycache__/__init__.cpython-39.pyc
axion_functions/__pycache__/axion_cutoff_mass.cpython-39.pyc
axion_functions/__pycache__/axion_params.cpython-39.pyc
axionCAMB_and_lin_PS/__pycache__/__init__.cpython-39.pyc
axionCAMB_and_lin_PS/__pycache__/axionCAMB_wrapper.cpython-39.pyc
axionCAMB_and_lin_PS/__pycache__/lin_power_spectrum.cpython-39.pyc
axionCAMB_and_lin_PS/__pycache__/load_cosmology.cpython-39.pyc
axionCAMB_and_lin_PS/__pycache__/PS_interpolate.cpython-39.pyc
cosmology/__pycache__/__init__.cpython-39.pyc
cosmology/__pycache__/basic_cosmology.cpython-39.pyc
cosmology/__pycache__/overdensities.cpython-39.pyc
cosmology/__pycache__/variance.cpython-39.pyc
halo_model/__pycache__/__init__.cpython-39.pyc
halo_model/__pycache__/axion_density_profile.cpython-39.pyc
halo_model/__pycache__/cold_density_profile.cpython-39.pyc
halo_model/__pycache__/halo_bias.cpython-39.pyc
halo_model/__pycache__/halo_mass_function.cpython-39.pyc
halo_model/__pycache__/HMcode_params.cpython-39.pyc
halo_model/__pycache__/PS_nonlin_axion.cpython-39.pyc
halo_model/__pycache__/PS_nonlin_cold.cpython-39.pyc
paramfiles/cosmos_LCDM_matterpower.dat
paramfiles/cosmos_LCDM_params.ini
paramfiles/cosmos_LCDM_transfer_out.dat
paramfiles/paramfile_axionCAMB_LCDM.txt
nonlin_PS_with_axion.txt
paramfiles/cosmos_matterpower.dat
paramfiles/cosmos_params.ini
paramfiles/cosmos_transfer_out.dat
paramfiles/paramfile_axionCAMB.txt
solvers/__pycache__/integrators.cpython-39.pyc
solvers/__pycache__/root_finders.cpython-39.pyc
.DS_Store
axion_functions/__pycache__/__init__.cpython-310.pyc
axion_functions/__pycache__/axion_cutoff_mass.cpython-310.pyc
axion_functions/__pycache__/axion_params.cpython-310.pyc
axionCAMB_and_lin_PS/__pycache__/__init__.cpython-310.pyc
axionCAMB_and_lin_PS/__pycache__/axionCAMB_wrapper.cpython-310.pyc
axionCAMB_and_lin_PS/__pycache__/lin_power_spectrum.cpython-310.pyc
axionCAMB_and_lin_PS/__pycache__/load_cosmology.cpython-310.pyc
cosmology/__pycache__/__init__.cpython-310.pyc
cosmology/__pycache__/basic_cosmology.cpython-310.pyc
cosmology/__pycache__/overdensities.cpython-310.pyc
cosmology/__pycache__/variance.cpython-310.pyc
halo_model/__pycache__/__init__.cpython-310.pyc
halo_model/__pycache__/axion_density_profile.cpython-310.pyc
halo_model/__pycache__/cold_density_profile.cpython-310.pyc
halo_model/__pycache__/halo_bias.cpython-310.pyc
halo_model/__pycache__/halo_mass_function.cpython-310.pyc
halo_model/__pycache__/HMcode_params.cpython-310.pyc
halo_model/__pycache__/PS_nonlin_axion.cpython-310.pyc
halo_model/__pycache__/PS_nonlin_cold.cpython-310.pyc
solvers/__pycache__/integrators.cpython-310.pyc
solvers/__pycache__/root_finders.cpython-310.pyc
